<app-menu-toggle title="Home"></app-menu-toggle>

<ion-content>

  <div *ngIf="(etiquetas$ | async); else skeletonContador">
    <ion-grid
      class='ion-margin-top ion-margin-bottom'
      *ngFor='let conta of contador'
    >
      <ion-row>
        <ion-col size=6>
          <app-card-icone-contador
            label='Hoje'
            color='primary'
            icone='calendar-outline'
            (direct)="onDirect('hoje')"
            [data]='conta.hoje'
          ></app-card-icone-contador>
          <app-card-icone-contador
            label='Abertos'
            color='success'
            icone='file-tray-full-outline'
            [data]='conta.abertos'
            (direct)="onDirect('abertos')"
          ></app-card-icone-contador>
        </ion-col>
        <ion-col>
          <app-card-icone-contador
            label='Sinalizados'
            color='warning'
            icone='flag-outline'
            [data]='conta.sinalizados'
            (direct)="onDirect('sinalizados')"
          ></app-card-icone-contador>
          <app-card-icone-contador
            label='Finalizados'
            color='primary'
            icone='checkmark-circle-outline'
            [data]='conta.finalizados'
            (direct)="onDirect('finalizados')"
          ></app-card-icone-contador>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>

  <ng-template #skeletonContador>
      <ion-row style='padding-left: 0.5rem; padding-right:0.5rem;'>
        <ion-col size=6>
          <ion-card style='margin: 0rem; margin-right: 0.5rem;'>
            <ion-skeleton-text
              animated
              style="width: 100%; height:6rem; border-radius:10px"
            ></ion-skeleton-text>
          </ion-card>
        </ion-col>
        <ion-col size=6>
          <ion-card style='margin: 0rem;; margin-left: 0.5rem;'>
            <ion-skeleton-text
              animated
              style="width: 100%; height:6rem; border-radius:10px"
            ></ion-skeleton-text>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row style='padding-left: 0.5rem; padding-right:0.5rem;'>
        <ion-col size=6>
          <ion-card style='margin: 0rem; margin-right: 0.5rem;'>
            <ion-skeleton-text
              animated
              style="width: 100%; height:6rem; border-radius:10px"
            ></ion-skeleton-text>
          </ion-card>
        </ion-col>
        <ion-col size=6>
          <ion-card style='margin: 0rem; margin-left: 0.5rem;'>
            <ion-skeleton-text
              animated
              style="width: 100%; height:6rem; border-radius:10px"
            ></ion-skeleton-text>
          </ion-card>
        </ion-col>
      </ion-row>

  </ng-template>

  <ion-grid>
    <ion-row class="justify-content-between align-items-baseline">
      <ion-text color="primary">
        <h1 class='ion-padding-start bold'>Etiquetas</h1>
      </ion-text>

      <ion-chip
        routerLink="/etiquetas/create"
        routerDirection="forward"
        color="primary"
        class='pointer'
      >
        <ion-icon
          name="add-circle-outline"
          color="primary"
        ></ion-icon>
        <ion-label color='primary'>Nova etiqueta</ion-label>
      </ion-chip>

    </ion-row>
  </ion-grid>

  <ion-toolbar>
    <ion-searchbar
      [(ngModel)]="filtro"
      animated="true"
      [autocorrect]='true'
      [debounce]='500'
      mode='ios'
      placeholder='Procurar'
    ></ion-searchbar>
  </ion-toolbar>

  <ion-list fullscreen>
    <ng-container *ngIf="(etiquetas$ | async) as etiquetas; else skeleton">

      <div *ngIf="etiquetas.length > 0; else noTags">
        <app-etiqueta-item
          *ngFor="let etiqueta of etiquetas | filter: filtro"
          [etiqueta]="etiqueta"
          (update)="onUpdate($event)"
          (delete)="onDelete($event)"
          (detail)="onDetail($event)"
          class="animation"
        >
        </app-etiqueta-item>
      </div>
    </ng-container>

    <ng-template #noTags>
      <app-no-tasks msg='Nenhuma etiqueta ainda...'></app-no-tasks>
    </ng-template>

  </ion-list>

  <ng-template #skeleton>
    <app-skeleton-list></app-skeleton-list>
  </ng-template>

</ion-content>
