<ion-content>
  <ion-slides>
    <ion-slide>
      <ion-slide >
        <div class="flex-column align-items-center padding-2">
          <div class="slide">
            <img src="assets/atualizar_versao.png"/>
            <h2 class='warning bold'>Versão Desatualizada</h2>
            <p class='text-justify size90'>A versão atual do seu aplicativo é {{ versaoAtual }}. O app MunaTasks está atualmente na versão {{ versao }}. </p>
          </div>
          <div style='margin-top: 20%'>
            <ion-button type='submit' color='warning' href='https://play.google.com/store/apps/details?id=io.munatasks.starter'>Atualizar versão <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
          </div>
        </div>
      </ion-slide>

    </ion-slide>
  </ion-slides>
</ion-content>
